.movie {
    width: 500px;
    height: 20px;
    margin: 10px 49px 10px 0;
}

.deleteMovie {
    outline: none;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: bold;
}

.deleteMovie:hover {
    color: red;
}