.container {
    width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.movieName {
    width: 500px;
    margin: 40px 15px 15px 0;
    height: 20px;
}

.addMovie {
    height: 27px;
    width: 60px;
    border: 1px solid black;
    border-radius: 5px;
    background: #e9e9e9;
    font-weight: bold;
    outline: none;
}

.addMovie:hover {
    background: white;
}

.addMovie:active {
    background: #e9e9e9;
}