.switcher {
    margin-top: 20px;
    text-align: center;
}

.switcher button {
    margin: 5px;
    border: 1px solid black;
    background: #e9e9e9;
    outline: none;
    border-radius: 5px;
}

.switcher button:hover {
    background: grey;
}
